<div class="main-page-wrap">
		<div class="main_menu_container" style="display: none">
			<div class="main_menu_title"></div>
			<ul class="main_menu_content">
				<li><a href="https://shop.mujonyc.com/collections/all">SHOP</a></li>
				<li><%= link_to 'ABOUT', about_index_path %></li>
				<li><%= link_to 'LOOKBOOK', core_supply_lookbook_index_path %></li>
				<li><%= link_to 'PRESS', press_index_path %></li>
				<li><a href="http://daily.mujonyc.com/" target="_blank">JOURNAL</a></li>
				<li><%= link_to 'CONTACT', contact_index_path %></li>
			</ul>
		</div>
</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->