<div class="checkout_container">
  <div class="confirmation_title">Order Confirmation</div>
  <ul class="confirmation_text">
  	<li>Thank you for your order.</li>
  	<li>You will receive a confirmation email shortly.</li>
  </ul>
  <div class="confirmation_forward_btns">
  	<ul>
  		<%= link_to root_url do %><li>Back to Homepage</li><% end %>
  	</ul>
  </div>
</div>