<div class="checkout_container">
  <div class="confirmation_title">Order Confirmation</div>
  <ul class="confirmation_text">
  	<li>Thank you for your order.</li>
  	<li>You will receive a confirmation email shortly.</li>
  </ul>
  <div class="confirmation_forward_btns">
  	<ul>
  		<%= link_to root_url do %><li>Back to Homepage</li><% end %>
  	</ul>
  </div>
</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");
fbq('track', 'Purchase', {value: '55.00', currency: 'USD'});
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->