<div class='stockist_container'>
	<span class='stockist_city'>New York City<br></span>

	<div class="stockist_item_spacing"></div>

	<span class='stockist_items'>Craft Atlantic<br></span>
	<span class='stockist_items'>115 Greenwich Ave, New York, NY 10014<br></span>

	<div class="stockist_item_spacing"></div>

	<span class='stockist_items'>Extra Butter<br></span>
	<span class='stockist_items'>125 Orchard St, New York, NY 10002<br></span>

	<div class="stockist_item_spacing"></div>

	<span class='stockist_items'>MAISON 10<br></span>
	<span class='stockist_items'>4 West 29th St, New York, NY, 10001<br></span>

	<div class="stockist_item_spacing"></div>

	<span class='stockist_items'>O.N.S Clothing<br></span>
	<span class='stockist_items'>71 Greene St, New York, NY, 10012<br></span>

	<div class="stockist_item_spacing"></div>
</div>