<div class='stockist_container'>
	<span class='caps_12'>LOWER EAST SIDE<br></span>
	<div class="stockist_item_spacing_top"></div>

	<span class='caps_9'>EXTRA BUTTER<br></span>
	<span class='caps_9'>125 ORCHARD ST, NEW YORK, NY 10002<br></span>

	<div class="stockist_item_spacing_bottom"></div>

	<span class='caps_12'>NOMAD<br></span>
	<div class="stockist_item_spacing_top"></div>

	<span class='caps_9'>MAISON 10<br></span>
	<span class='caps_9'>4 WEST 29TH ST, NEW YORK, NY, 10001<br></span>

	<div class="stockist_item_spacing_bottom"></div>

	<span class='caps_12'>SOHO<br></span>
	<div class="stockist_item_spacing_top"></div>

	<span class='caps_9'>O.N.S CLOTHING<br></span>
	<span class='caps_9'>71 GREENE ST, NEW YORK, NY, 10012<br></span>

	<div class="stockist_item_spacing_bottom"></div>

	<span class='caps_12'>WEST VILLAGE<br></span>
	<div class="stockist_item_spacing_top"></div>

	<span class='caps_9'>CRAFT ATLANTIC<br></span>
	<span class='caps_9'>115 GREENWICH AVE, NEW YORK, NY 10014<br></span>
</div>