<%= link_to root_path do %>
  <div class="cart_home_icon"></div>
<% end %>

<div class="placeholder_icon"></div>

<div class="shipment_container">
	<div class="bill_ship_info">Billing/Shipping Information</div>

	<!-- billing form -->
	<div class="billing_form">
		<div class="billing_title">Billing Information</div>
		<form autocomplete="on" action="" method="POST" id="shipment-form">
			<div class="billing_name">
			  <label>
			    <span class="card_span card_cat_title">Name</span>
			    <input class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="billing_email">
			  <label>
			    <span class="card_span card_cat_title">Email</span>
			    <input class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="billing_telephone">
			  <label>
			    <span class="card_span card_cat_title">Telephone</span>
			    <input class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="billing_address_1">
			  <label>
			    <span class="card_span card_cat_title">Address</span>
			    <input class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="billing_address_2">
			  <label>
			    <span class="card_span card_cat_title address_2_hide">Address 2</span>
			    <input class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="billing_zip_code">
			  <label>
			    <span class="card_span card_cat_title">Zip Code</span>
			    <input class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="billing_city">
			  <label>
			    <span class="card_span card_cat_title">City</span>
			    <input class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="billing_state">
			  <label>
			    <span class="card_span card_cat_title">State</span>
			    <input class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="billing_country" style="display: none">
			  <label>
			    <span class="card_span card_cat_title">Country</span>
			    <input class="input_field" type="text" size="30" />
			  </label>
			</div>
			<input type="checkbox" id="shipment_checkbox"><span class="checkbox_text">Same as shipping address</span><br>
		</form>	
	</div>

	<!-- shipping form -->
	<div class="shipping_form">
		<div class="billing_title">Shipping Information</div>
		<form action="" method="POST" id="shipment-form">
			<div class="shipping_name">
			  <label>
			    <span class="card_span card_cat_title">Name</span>
			    <input name="shipping_name" class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="shipping_email">
			  <label>
			    <span class="card_span card_cat_title">Email</span>
			    <input name="shipping_email" class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="shipping_telephone">
			  <label>
			    <span class="card_span card_cat_title">Telephone</span>
			    <input name="shipping_telephone" class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="shipping_address_1">
			  <label>
			    <span class="card_span card_cat_title">Address</span>
			    <input name="shipping_address_1" class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="shipping_address_2">
			  <label>
			    <span class="card_span card_cat_title address_2_hide">Address 2</span>
			    <input name="shipping_address_2" class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="shipping_zip_code">
			  <label>
			    <span class="card_span card_cat_title">Zip Code</span>
			    <input name="shipping_zip_code" class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="shipping_city">
			  <label>
			    <span class="card_span card_cat_title">City</span>
			    <input name="shipping_city" class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="shipping_state">
			  <label>
			    <span class="card_span card_cat_title">State</span>
			    <input name="shipping_state" class="input_field" type="text" size="30" />
			  </label>
			</div>
			<div class="shipping_country" style="display: none">
			  <label>
			    <span class="card_span card_cat_title">Country</span>
			    <input name="shipping_country" class="input_field" type="text" size="30" />
			  </label>
			</div>

			<div class="shipment_forward_btns">
			  <ul>
			    <li>
			      <button class="shipment_btn" type="submit">Continue</button>
			    </li>
			    <li>
			      <span class="shipment-errors">
			      	<% if session[:shipment_error] %>
			      		<%= session[:shipment_error] %>
			      		<% session.delete(:shipment_error) %>
			      	<% end %>
			      </span>
			    </li>
			  </ul>
			</div>
		</form>	
	</div>

</div>