<div class="press_pic_div">
	<a href="http://design-milk.com/cuff-bracelet-mujo/" target="_blank">
		<div class="press_pic" style="background-image: url('/images/press_pics/DesignMilk.jpg')"></div>
		<div class="press_title">
			<span class="caps_12">DESIGN MILK</span>
			<span class="caps_12">2.16.17</span>
		</div>
	</a>
</div>

<div class="press_pic_div">
	<a href="http://www.highsnobiety.com/2017/02/13/mujo-jewelry-collection/" target="_blank">
		<div class="press_pic" style="background-image: url('/images/press_pics/Highsnobiety2.jpg')"></div>
		<div class="press_title">
			<span class="caps_12">HIGHSNOBIETY</span>
			<span class="caps_12">2.13.17</span>
		</div>
	</a>
</div>

<div class="press_pic_div">
	<a href="https://manofmany.com/fashion/mujo-unveils-core-supply-collection-industrial-inspired-jewellery" target="_blank">
		<div class="press_pic" style="background-image: url('/images/press_pics/ManofMany_2.jpg')"></div>
		<div class="press_title">
			<span class="caps_12">MAN OF MANY</span>
			<span class="caps_12">2.9.17</span>
		</div>
	</a>
</div>


<div class="press_pic_div">
	<a href="http://www.highsnobiety.com/2016/08/29/new-menswear-brands-august-2/" target="_blank">
		<div class="press_pic" style="background-image: url('/images/press_pics/Highsnobiety.jpg')"></div>
		<div class="press_title">
			<span class="caps_12">HIGHSNOBIETY</span>
			<span class="caps_12">8.29.16</span>
		</div>
	</a>
</div>

<div class="press_pic_div">
	<a href="http://hypebae.com/2016/8/mujo-003-annex-jewelry-collection" target="_blank">
		<div class="press_pic" style="background-image: url('/images/press_pics/Hypebae.jpg')"></div>
		<div class="press_title">
			<span class="caps_12">HYPEBAE</span>
			<span class="caps_12">8.3.16</span>
		</div>
	</a>
</div>
