<div class="press_pic_div">
	<a href="http://www.highsnobiety.com/2016/08/29/new-menswear-brands-august-2/" target="_blank">
		<div class="press_pic" style="background-image: url('/images/press_pics/Highsnobiety.jpg')"></div>
		<div class="press_title">
			<span class="caps_12">HIGHSNOBIETY</span>
			<span class="caps_12">8.29.16</span>
		</div>
	</a>
</div>

<div class="press_pic_div">
	<a href="http://hypebae.com/2016/8/mujo-003-annex-jewelry-collection" target="_blank">
		<div class="press_pic" style="background-image: url('/images/press_pics/Hypebae.jpg')"></div>
		<div class="press_title">
			<span class="caps_12">HYPEBAE</span>
			<span class="caps_12">8.3.16</span>
		</div>
	</a>
</div>
