<div class="studio-page-wrap">	
	<div class="studio_pic">
		<div class="studio_left_arrow"></div>
		<div class="studio_right_arrow"></div>
		<div class="lookbook_1 studio_active" style="background-image: url('/images/studio_pics/1.jpg')"></div>
		<div class="lookbook_2" style="background-image: url('/images/studio_pics/2.jpg')"></div>
		<div class="lookbook_3" style="background-image: url('/images/studio_pics/3.jpg')"></div>
		<div class="lookbook_4" style="background-image: url('/images/studio_pics/4.jpg')"></div>
		<div class="lookbook_5" style="background-image: url('/images/studio_pics/5.jpg')"></div>
		<div class="lookbook_6" style="background-image: url('/images/studio_pics/6.jpg')"></div>
	</div>
</div>