<div class="about-page-wrap">

  <div class="motto"></div>

  <div class="mujo_description">
  	Mujo (無常) is the Buddhist philosophy that nothing is permanent. It is the freedom to change your path at any moment. In 2015, we quit our jobs and moved across the country. Mujo NYC is the physical manifestation of this new chapter.
  </div>

</div>