<div class="mujo_description_container" style="display: none">
  <div class="mujo_description_title"></div>
  <div class="mujo_description_content lows_10">
    We began our journey in 2015, frustrated with cheap, mass-produced jewelry and gaudy designer pieces. Motivated simply by the need to create what we couldn’t find, we left our jobs to master the art of jewelry making.<br><br>

    Guided by clean, balanced design and inspired by the industrial, worn character of our city, MUJO is a Brooklyn-based contemporary jewelry brand. We handcraft essential pieces that are designed to wear handsomely with age and last a lifetime.<br><br>

    Born and Crafted in NYC.
  </div>
</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->