<div class="about-page-wrap">

  <div class="motto"></div>

  <div class="mujo_description">
  	Mujo (無常) is the Buddhist philosophy that nothing is permanent. 

  	Born from years of feeling confined to one orthodox way of life, Mujo represents the freedom to choose a new path each day. In 2015, we quit our jobs and moved to Brooklyn, NY. 

  	Mujō is the physical manifestation of this new chapter. We are a contemporary, handcrafted accessories company that values resourcefulness and simplicity. We are inspired by new friends and old, by NYC and our roots.
  </div>

</div>