<div class="about-page-wrap">

  <div class="motto"></div>

  <div class="mujo_description">
  	Mujo (無常) is the philosophy that nothing is permanent. To us, it represents the freedom to constantly change paths. In 2015, we left our jobs and moved to New York City. Guided by a need to create what we don’t have, we produced a line of men’s accessories - simple pieces inspired by our roots and our new home.<br>

  	Born and crafted in Brooklyn, NY, USA.
  </div>

</div>