@font-face {
    font-family: 'din-light';
    src: url('ufonts.com_din-light-webfont.eot');
    src: url('ufonts.com_din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_din-light-webfont.woff2') format('woff2'),
         url('ufonts.com_din-light-webfont.woff') format('woff'),
         url('ufonts.com_din-light-webfont.ttf') format('truetype'),
         url('ufonts.com_din-light-webfont.svg#din_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din-medium';
    src: url('ufonts.com_din-medium-webfont.eot');
    src: url('ufonts.com_din-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_din-medium-webfont.woff2') format('woff2'),
         url('ufonts.com_din-medium-webfont.woff') format('woff'),
         url('ufonts.com_din-medium-webfont.ttf') format('truetype'),
         url('ufonts.com_din-medium-webfont.svg#din_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*HIDE MOBILE IMAGES*/
.mb {
  display: none;
}
.dk {
  display: inline;
}

body {
  font-family: 'din-light';
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

a.black_a {
  color: black;
  display: inline-block;
}

a.white_a {
  display: inline-block;
}

a:hover {
  color: #A88C25;
  transition: 0.1s color;
}

.main-page-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url('background/Homepage3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.about-page-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.contact-page-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.lookbook-page-wrap, .lookbook2-page-wrap, .lookbook3-page-wrap, .studio-page-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.lookbook_pic, .lookbook2_pic, .lookbook3_pic, .studio_pic {
  position: fixed;
  width: 700px;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;
}

.lb_active {
  position: fixed;
  width: 750px;
  height: auto;
  background: no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;
}

.lb2_active {
  position: fixed;
  width: 800px;
  height: 500px;
  background: no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;
}

.lb3_active {
  position: fixed;
  width: 750px;
  height: 490px;
  background: no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;
}

.studio_active {
  position: fixed;
  width: 750px;
  height: 490px;
  background: no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;
}

.lb_left_arrow {
  position: absolute;
  width: 15px;
  height: auto;
  background: url('logos/ArrowBlackLeft.png') no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: -780px;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;
}

.lb2_left_arrow {
  position: absolute;
  width: 15px;
  height: auto;
  background: url('logos/ArrowBlackLeft.png') no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: -810px;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;
}

.lb3_left_arrow, .studio_left_arrow {
  position: absolute;
  width: 15px;
  height: auto;
  background: url('logos/ArrowBlackLeft.png') no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: -810px;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;
}

.lb_right_arrow {
  position: absolute;
  width: 15px;
  height: auto;
  background: url('logos/ArrowBlackRight.png') no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: 732px;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;
}

.lb2_right_arrow {
  position: absolute;
  width: 15px;
  height: auto;
  background: url('logos/ArrowBlackRight.png') no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: 747px;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;  
}

.lb3_right_arrow, .studio_right_arrow {
  position: absolute;
  width: 15px;
  height: auto;
  background: url('logos/ArrowBlackRight.png') no-repeat center;
  background-size: contain;
  top: 0;
  bottom: 0;
  left: 747px;
  right: 0;
  margin: auto;
  cursor: pointer;
  cursor: hand;  
}

.social_icons {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 2;
}

.menu {
  position: fixed;
  font-size: 12px;
  right: 20px;
  top: 17px;
  z-index: 2;
}

.submenu {
  font-size: 8px;
  margin-left: 0;
}

ul.dropdown-menu {
  border-color: transparent;
  background:transparent;
  box-shadow: none;
  padding-top: 3px;
}

.lookbook_drop_white {
  color: white;
}

.title {
  position: fixed;
  width: 104px;
  height: 130px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.main_menu_box {
  position: absolute;
  width: 109px;
  height: 40px;
  bottom: 115px;
  background: url('logos/TextLogoWB.png') no-repeat center;
  background-size: contain;
}

.main_menu {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 9px;
}

.main_menu ul li {
  text-align: right;
  padding-top: 1px;
}

.main_menu ul li a:hover {
  color: #A88C25;
  transition: 0.1s color;
}

.mujo_description {
  position: fixed;
  width: 275px;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mujo_description_title {
  position: absolute;
  width: 90px;
  height: 30px;
  background: url('logos/TextBoxLogoBW.png') no-repeat center;
  background-size: contain;
  top: -40px;
  left: -9px;
  margin-top: auto;
  margin-bottom: auto;
}

.description_container {
  position: absolute;
  width: 445px;
  height: 94px;
  left: 0;
  right: 0;
  top: 40%;
  margin: auto;
}

select {
  outline: none;
}

span {
  letter-spacing: 1px;
  font-family: 'din-light';
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
}

.contact_notify {
  position: absolute;
  color: #A88C25;
  height: 10px;
  width: 100px;
  top: 255px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 12px;
}

.contact_body_field {
  position: absolute;
  width: 230px;
  height: 245px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.contact_form_field {
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
  outline: none;
  box-shadow: none;
  resize: none;
  display: block;
}

.contact_form_btn {
  color: white;
  background-color: black;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 4px 9px 4px 9px;
  margin-top: 10px;
}

.contact_us {
  position: relative;
}

.social {
  padding-left: 8px;
}

ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}

ul li {
  letter-spacing: 1px;
  font-family: 'din-light';
  list-style:none;
  text-align: left;
  padding:0 0 3px 0;
  font-size: 10px;
}

li.sublist {
  margin-bottom: 0;
  font-size: 12px;
}

ul li img {
  cursor: pointer;
}

.thumbnail {
  border-radius: 0;
  border-width: 0;
}

.row {
  margin-bottom: 30px;
}

.extra {
  position: fixed;
  bottom: 12px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 9px;
}

.terms {
  position: absolute;
  width: 600px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.terms_page_wrap {
  position: relative;
  padding-bottom: 30px;
}

.back_to_contact {
  position: fixed;
  top: 15px;
  left: 15px;
  color: black;
  font-size: 10px;
}

.back_to_contact:hover {
  color: #A88C25;
  transition: 0.1s color;
  text-decoration: underline;
}

.navigation {
  width: 100%;
  position: absolute;
  bottom: 65px;
  text-align: center;
  list-style: none;
  z-index: 1;
  padding-left: 0px;
}

.navigation li {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.navigation .active {
  background: white;
}

div.active {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  bottom: 70px;
}

.press_pic_div {
  position: relative;
  width: 600px;
  height: 600px;
  left: 0;
  right: 0;
  top: 50px;
  margin: auto; 
  margin-top: 20px;
  margin-bottom: 80px;
}

.press_title {
  position: absolute;
  bottom: 300px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}

.press_title span {
  display: block;
  opacity: 0;
}

.press_pic {
   position: relative;
   width: 600px;
   height: 600px;
   left: 0;
   right: 0;
   margin: auto;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.press_pic_div:hover .press_pic {
  opacity: 0.05;
}

.press_pic_div:hover .press_title span {
  opacity: 1;
  color: black;
}

.stockist_container {
  position: fixed;
  width: 290px;
  height: 345px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.careers_container {
  position: fixed;
  width: 260px;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.stockist_item_spacing_top {
  width: 290px;
  height: 10px;
}

.stockist_item_spacing_bottom {
  width: 290px;
  height: 20px;
}

.caps_9 {
  font-family: 'din-light';
  font-weight: bold;
  font-size: 9px;
  letter-spacing: 1px; 
}

.caps_12 {
  font-family: 'din-light';
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px; 
}

.no_margin {
  margin: 0;
}

.lows_10 {
  font-size: 10px;
  letter-spacing: 1px;
  font-family: 'din-light';
  font-weight: bold;
}

/*SALE MODAL*/
.modal-dialog {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 300px;
}

.modal-content {
  width: 300px;
  height: 300px; 
  background-color: black;
}

.sale-description {
  color: white;
  position: fixed;
  width: 170px;
  height: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.shop-now {
  border: 1px solid white;
  padding: 5px;
  background: black;
  position: relative;
  left: 25%;
  margin-top: 20px;
}

#shop-now-btn {
  text-decoration: none;
}

.close {
  color: white; 
  opacity: 1;
}