@media only screen and (max-device-width: 414px) and (orientation: portrait) {

  .shop-page-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 1;
    margin-top: -100px;
  }

  .title {
    position: fixed;
    width: 209px;
    height: 140px;
    background: url('logos/TextLogoWB.png') no-repeat center;
    background-size: contain;
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
  }

  .main_menu {
    position: absolute;
    font-size: 11px;
    top: 145px;
    left: -19px;
    z-index: 1;
  }

  a {
  	font-size: 35px;
  	padding-left: 20px;
  }

  .description_container {
    position: absolute;
    width: 865px;
    height: 290px;
    /*border: 1px solid white;*/
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .description_title {
    position: relative;
    margin-top: 30px;
    width: 242px;
    height: 242px;
    background: url('logos/DottedIconWhiteNoBox.png') no-repeat center;
    background-size: contain;
    float: left;
  }

  .description {
    position: relative;
    color: black;
    width: 618px;
    height: 290px;
    border-left: 1px solid white;
    padding-left: 25px;
    font-size: 12px;
    float: right;
  }

  .isan_title {
    font-family: 'din-light';
    margin-left: 0;
    margin-top: -2px;
    margin-bottom: -2px;
    font-size: 50px;
    font-weight: bold;
    display: block;
  }

  .isan_description {
    font-family: 'din-light';
    margin-left: 0;
    display: block;
    font-size: 30px;
  }

  .down_arrow {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('logos/Arrow.png');
    background-size: cover;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .down_arrow_2 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('logos/Arrow.png');
    background-size: cover;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .date {
    color: White;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 43%;
    margin: auto;
    font-size: 130px;
  }

  .time {
    color: White;
    text-align: center;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 40px;
  }

  .release {
    color: White;
    text-align: center;
    position: absolute;
    top: -30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 40px;
  }

  .email_form {
   text-align: center;
   position: absolute;
   top: 108px;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
  }

  .email_form_test {
    font-family: 'din-light';
    font-size: 20px;
    text-align: center;
    background-color: White;
    padding: 5px 15px 5px 15px;
    border: none;
    outline: none;
    box-shadow: none;
    color: White;
    border: 1px solid White;
    background-color: Black;
  }

  .notify {
    color: #A88C25;
    text-align: center;
    position: absolute;
    top: 275px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 20px;
  }

  .mujo_description {
    color: black;
    position: fixed;
    width: 600px;
    height: auto;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 30px;
  }

  .mujo_description_title {
    position: absolute;
    width: 150px;
    height: 100px;
    background: url('logos/TextBoxLogoBW.png') no-repeat center;
    background-size: contain;
    top: -100px;
    left: 0px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .lookbook_pic {
    position: fixed;
    width: 100%;
    height: auto;
    background: url('lookbook/100.jpg') no-repeat center;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    cursor: hand;
  }

  .lb_left_arrow {
    position: absolute;
    width: 15px;
    height: auto;
    /*background: url('logos/ArrowBlackLeft.png') no-repeat center;*/
    background: none;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: -720px;
    right: 0;
    margin: auto;
    cursor: pointer;
    cursor: hand;
  }

  .lb_right_arrow {
    position: absolute;
    width: 15px;
    height: auto;
    /*background: url('logos/ArrowBlackRight.png') no-repeat center;*/
    background: none;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: 705px;
    right: 0;
    margin: auto;
    cursor: pointer;
    cursor: hand;  
  }

  .contact_form_container {
    position: absolute;
    /*border: 1px solid black;*/
    width: 590px;
    height: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }

  .contact_form_field {
    font-size: 30px;
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px;
    outline: none;
    box-shadow: none;
    resize: none;
  }

  .contact_form_btn {
    color: white;
    background-color: black;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 30px;
    padding: 10px 19px 10px 19px;
    margin-top: 25px;
  }

  .contact_us {
    position: absolute;
    font-family: 'din-light';
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    top: -45px;
  }

  .contact_notify {
    color: #A88C25;
    position: absolute;
    top: 485px;
    left: 130px;
    right: 0;
    margin: auto;
    font-size: 30px;
  }

  .social_pic {
    width: 50px;
    height: 50px;
    margin-left: 30px;
  }

}