@media only screen and (max-device-width: 414px) and (orientation: portrait) {

  /*get rid of weird rounded corners on mobile text field*/
  input {
    -webkit-appearance: none;
    border-radius: 0;
  }

  /*input field size adjustment on mobile*/
  /*.input_1 {
    width: 250px;
  }
  .input_2 {
    width: 120px;
  }*/

  /*HIDE DESKTOP IMAGES*/
  .dk {
    display: none;
  }
  .mb {
    display: inline;
  }

  /*NAVIGATION MENU*/
  .menu {
    position: fixed;
    font-size: 35px;
    right: 20px;
    top: 17px;
    z-index: 2;
  }

  /*SOCIAL ICONS*/
  .social_pic {
    width: 35px;
    height: 35px;
  }

  /*LANDING PAGE*/
  .title {
    position: fixed;
    width: 180px;
    height: 90px;
    background: url('logos/TextLogoWB.png') no-repeat center;
    background-size: contain;
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
  }
  .main_menu {
    position: absolute;
    font-size: 40px;
    top: 100px;
    left: 0px;
    z-index: 1;
  }

  /*ALWAYS SHOW SHOP ARROWS*/
  .left_arrow {
    display: inline;
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('logos/ArrowWhiteLeft.png') no-repeat center;
    background-size: contain;
    left: 0;
    top: 0;
    bottom: 200px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .right_arrow {
    display: inline;
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('logos/ArrowWhiteRight.png') no-repeat center;
    background-size: contain;
    right: 0;
    top: 0;
    bottom: 200px;
    margin-top: auto;
    margin-bottom: auto;
  }

  /*SHOP PAGE*/
  .description_container {
    position: absolute;
    width: 780px;
    height: 215px;
    /*border: 1px solid white;*/
    left: 0;
    right: 0;
    /*top: 40%;*/
    margin: auto;
  }
  .shop_now {
    position: absolute;
    bottom: -70px;
    left: 230px;
    border: 2px solid white;
    color: white;
    padding: 3px 15px 3px 15px;
    font-size: 25px;
    width: 300px;
  }
  .shop_red {
    position: absolute;
    bottom: -130px;
    left: 230px;
    border: 1px solid #A30026;
    background-color: #A30026;
    padding: 3px 15px 3px 15px;
    font-size: 25px;
    width: 300px;
  }
  .description_title {
    position: relative;
    width: 160px;
    height: 160px;
    margin-top: 30px;
    margin-left: 1px;
    background: url('logos/DottedIconWhiteNoBox.png') no-repeat center;
    background-size: contain;
    float: left;
  }
  .description {
    position: relative;
    color: black;
    width: 610px;
    height: 215px;
    border-left: 1px solid white;
    padding-left: 15px;
    font-size: 25px;
    float: right;
  }
  .isan_title {
    font-family: 'din-light';
    color: white;
    margin-left: 0;
    margin-top: -3px;
    font-size: 30px;
    font-weight: bold;
    display: block;
  }
  .navigation {
    width: 100%;
    position: absolute;
    bottom: 200px;
    text-align: center;
    list-style: none;
    z-index: 1;
    padding-left: 0px;
  }
  .navigation li {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  .shop_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: black;
  }
  div.active {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    bottom: 100px;
  }
  .dropdown_btn {
    border: 2px solid white;
    font-size: 25px;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 3px 15px 3px 15px;
    color: white;
    background-color: black;
    font-family: 'fontAwesome', 'din-light';
  }
  .options {
    position: absolute;
    bottom: 130px;
    left: 10px;
  }
  .options_extra {
    font-family: din-light;
    font-size: 25px;
  }
  .options ul li {
    display: inline;
    padding-left: 20px;
    bottom: 10px;
  }
  .add_to_cart {
    font-family: din-light;
    position: absolute;
    right: 20px;
    bottom: 45px;
    border: 2px solid white;
    padding: 3px 15px 3px 15px;
    color: white;
    background-color: black;
    font-size: 25px;
    outline: none;
  }
  .sold_out {
    font-family: din-light;
    position: absolute;
    right: 20px;
    bottom: 45px;
    border: 2px solid white;
    padding: 3px 15px 3px 15px;
    color: white;
    background-color: black;
    font-size: 25px;
    outline: none;
  }
  .total {
    font-family: din-light;
    position: absolute;
    right: 200px;
    bottom: 40px;
    color: white;
    font-size: 35px;
  }
  .cart_error {
    font-family: din-light;
    position: absolute;
    right: 300px;
    bottom: 50px;
    color: #A88C25;
    font-size: 20px;
  }
  .product_specs_pop ul li {
    font-family: din-light;
    font-size: 25px;
    color: black;
    padding-bottom: 2px;
  }
  .product_specs_pop {
    position: absolute;
    height: auto;
    bottom: 250px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.8;
    padding: 15px 10px 10px 10px;
    width: 750px;
  }
  .product_specs_x {
    position: absolute;
    font-family: din-light;
    color: #9CABA9;
    right: 15px;
    top: 0;
    cursor: pointer;
    font-size: 35px;
  }
  .size_chart_pop ul li {
    font-family: din-light;
    font-size: 25px;
    color: black;
    padding-bottom: 2px;
  }
  .size_chart_pop {
    position: absolute;
    height: auto;
    bottom: 250px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.8;
    padding: 15px 10px 10px 10px;
    width: 700px;
  }
  .checkout_tag {
    position: absolute;
    font-size: 25px;
    background-color: white;
    color: black;
    padding: 3px 8px 3px 8px;
    bottom: 200px;
    right: 0px;
    z-index: 2;
  }
  .checkout_count {
    position: absolute;
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 3px 18px 3px 18px;
    bottom: 200px;
    right: 120px;
  }
  .size_chart_x {
    position: absolute;
    font-family: din-light;
    color: #9CABA9;
    right: 15px;
    top: 0;
    cursor: pointer;
    font-size: 35px;
  }

  /*ABOUT PAGE*/
  .mujo_description {
    color: black;
    position: fixed;
    width: 450px;
    height: auto;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 25px;
  }
  .mujo_description_title {
    position: absolute;
    width: 120px;
    height: 50px;
    background: url('logos/TextBoxLogoBW.png') no-repeat center;
    background-size: contain;
    top: -60px;
    left: 1px;
    margin-top: auto;
    margin-bottom: auto;
  }

  /*CONTACT FORM*/
  .contact_notify {
    color: #A88C25;
    position: absolute;
    top: 365px;
    left: 110px;
    right: 0;
    margin: auto;
    font-size: 25px;
  }
  .contact_form_container {
    position: absolute;
    width: 470px;
    height: 325px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .contact_form_field {
    font-size: 25px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px;
    outline: none;
    box-shadow: none;
    resize: none;
  }
  .contact_form_btn {
    color: white;
    background-color: black;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 25px;
    padding: 4px 9px 4px 9px;
    margin-top: 10px;
  }
  .contact_us {
    position: absolute;
    font-family: 'din-light';
    font-size: 25px;
    margin: 0px 0px 0px 0px;
    bottom: 320px;
  }
  .extra {
    position: fixed;
    bottom: 12px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 25px;
  }

  /*LOOKBOOK PAGE*/
  .lookbook_pic {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    cursor: hand;
  }
  .lb_active {
    position: fixed;
    width: 100%;
    height: auto;
    background: no-repeat center;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    cursor: hand;
  }
  .lb_left_arrow {
    position: absolute;
    width: 30px;
    height: auto;
    background: url('logos/ArrowWhiteLeft.png') no-repeat center;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: -940px;
    right: 0;
    margin: auto;
    z-index: 2;
  }

  .lb_right_arrow {
    position: absolute;
    width: 30px;
    height: auto;
    background: url('logos/ArrowWhiteRight.png') no-repeat center;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: 940px;
    right: 0;
    margin: auto;
    z-index: 2;
  }

  /*TERMS PAGE*/
  .terms {
    position: absolute;
    width: 700px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 20px;
  }
  .back_to_contact {
    position: fixed;
    top: 15px;
    left: 15px;
    color: black;
    font-size: 25px;
  }

  /*SHIPMENT PAGE*/
  .billing_form {
    display: none;
  }
  .shipment_container {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .bill_ship_info {
     position: absolute;
     width: 100%;
     height: auto;
     background-color: black;
     font-family: din-light;
     color: white;
     padding: 8px 1px 8px 10px;
     font-size: 40px;
     text-align: center;
  }
  .billing_title {
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 40px;
  }
  .shipping_form {
    position: absolute;
    top: 90px;
    width: 900px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .input_1 {
    width: 600px;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .card_cat_title {
    border: 1px solid black;
    background-color: #EBEBEB;
    float: left;
    width: 250px;
    margin-bottom: 5px;
    font-size: 40px;
  }
  .shipment_forward_btns {
    position: absolute;
    width: 100%;
    height: auto;
    border-top: 1px solid black;
    font-family: din-light;
    padding: 8px 1px 8px 10px;
    bottom: 0;
  }
  .shipment_btn {
    display: inline;
    float: right;
    font-family: din-light;
    font-size: 40px;
    background-color: black;
    color: white;
    margin-right: 15px;
    padding: 2px 8px 2px 8px;
    border: none;
  }
  .address_2_hide {
    color: white;
    background-color: white;
    border: none;
  }
  .shipment-errors {
    position: absolute;
    font-family: din-light;
    font-size: 35px;
  }
  .dropdown_btn_country {
    border: 1px solid black;
    font-size: 40px;
    width: 600px;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 3px 15px 3px 15px;
    color: black;
    background-color: white;
    font-family: 'fontAwesome', 'din-light';

    outline: none;
    padding: 2px 3px 2px 3px;
    margin-left: 10px;
  }

  /*CARD FORM*/
  .checkout_container {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  #payment-form {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; 
  }
  .pay_ship_info {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: black;
    font-family: din-light;
    color: white;
    padding: 8px 1px 8px 10px;
    font-size: 40px;
    text-align: center;
  }
  .payment_method {
/*    position: absolute;
    top: 80px;*/
    display: none;
  }
  .payment_method ul li {
/*    font-family: din-light;
    font-size: 40px;
    padding: 0px 300px 0px 10px;
    display: inline;*/
    display: none;
  }
  .card_form {
    position: absolute;
    padding-top: 40px;
    width: 900px;
    font-family: din-light;
    font-size: 40px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .card_span {
    font-family: din-light;
    font-size: 40px;
    padding: 2px 3px 2px 3px;
  }
  .cvv_icon {
/*    position: absolute;
    width: 40px;
    height: 24px;
    background: url('logos/cvv.png') no-repeat center;
    background-size: contain;
    left: 155px;*/
    display: none;
  }
  .input_field {
    border: 1px solid black;
    outline: none;
    font-size: 40px;
    padding: 2px 3px 2px 3px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .card_forward_btns {
    position: fixed;
    width: 100%;
    height: auto;
    border-top: 1px solid black;
    font-family: din-light;
    padding: 8px 1px 8px 10px;
    bottom: 0;
    left: 0;
  }
  .submit_payment_btn {
    display: inline;
    float: right;
    font-family: din-light;
    font-size: 40px;
    background-color: black;
    color: white;
    margin-right: 15px;
    padding: 2px 8px 2px 8px;
    border: none;
  }
  .stripe_icon {
/*    position: absolute;
    width: 93px;
    height: 23px;
    background: url('logos/stripe_powered.png') no-repeat center;
    background-size: contain;
    left: 10px;
    bottom: 50px;*/
    display: none;
  }
  .accepted_cards_icon {
/*    position: absolute;
    width: 135px;
    height: 23px;
    background: url('logos/accepted_cards.jpg') no-repeat center;
    background-size: contain;
    left: 263px;*/
    display: none;
  }
  .card_pulled_val {
    font-family: din-light;
    font-size: 40px;
  }
  .payment-errors {
    position: absolute;
    font-family: din-light;
  }
  .card_cart_total, .card_shipping, .card_sales_tax, .card_order_total {
    padding-bottom: 30px;
  }

 /*SHOPPING CART FORM*/
 .cart_home_icon {
/*   position: fixed;
   width: 90px;
   height: 30px;
   background: url('logos/TextBoxLogoBW.png') no-repeat center;
   background-size: contain;
   top: 20px;
   left: 10px;*/
   display: none;
 }
 .cart_container {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
 }
 .cart_edit_view {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: black;
  font-family: din-light;
  color: white;
  padding: 8px 1px 8px 10px;
  font-size: 40px;
  text-align: center;
 }
 .cart_item_count {
   position: absolute;
   width: 100%;
   height: auto;
   border-bottom: 1px solid black;
   font-family: din-light;
   padding: 8px 1px 8px 10px;
   top: 70px;
   font-size: 40px;
 }
 .cart_items {
   position: absolute;
   top: 150px;
   width: 100%;
 }
 .cart_items ul li{
   border-bottom: 1px solid black;
   padding: 20px 0px 20px 0px;
   width: 100%;
 }
 .cart_item_info span {
   font-family: din-light;
   font-size: 30px;
 }
 .item_amount {
   padding-left: 30px;
   padding-right: 30px;
 }
 .item_remove {
   background-color: black;
   color: white;
   padding: 2px 8px 2px 8px;
 }
 .remove_underline:hover {
   text-decoration: none;
 }
 .item_price {
   padding-left: 10px;
 }
 .cart_forward_btns {
   position: absolute;
   width: 100%;
   height: auto;
   border-top: 1px solid black;
   font-family: din-light;
   padding: 8px 1px 8px 10px;
   bottom: 0;
 }
 .cart_forward_btns ul li {
   display: inline;
   float: right;
   font-family: din-light;
   font-size: 40px;
   background-color: black;
   color: white;
   margin-right: 15px;
   padding: 2px 8px 2px 8px;
 }
 .cart_subtotal {
  position: absolute;
  width: 320px;
  height: auto;
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-family: din-light;
  font-size: 40px;
  padding: 8px 1px 8px 10px;
  bottom: 78px; 
  right: 0;
 }

 /*CONFIRMATION SCREEN*/
 .confirmation_container {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
 }
 .confirmation_title {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: black;
  font-family: din-light;
  color: white;
  padding: 8px 1px 8px 10px;
  font-size: 40px;
  text-align: center;
 }
 .confirmation_text {
   position: absolute;
   top: 90px;
   left: 10px;
 }
 .confirmation_text li {
   font-family: din-light;
   font-size: 40px;
   padding-top: 10px;
 }
 .confirmation_forward_btns {
   position: absolute;
   width: 100%;
   height: auto;
   border-top: 1px solid black;
   font-family: din-light;
   padding: 8px 1px 8px 10px;
   bottom: 0;
 }
 .confirmation_forward_btns ul li {
   display: inline;
   float: right;
   font-family: din-light;
   font-size: 40px;
   background-color: black;
   color: white;
   margin-right: 15px;
   padding: 2px 8px 2px 8px;
 }

}