<div class="terms_page_wrap">
	<%= link_to request.env["HTTP_REFERER"] do %>
		<span class="back_to_contact black_a">BACK</span>
	<% end %>

	<div class="terms">
		<strong>SHIPPING & RETURNS</strong><br><br>

		<strong>Domestic Shipping</strong><br>
		Most orders are shipped within 3 business days of the order. Delivery time is based on the shipping method. Standard delivery time (USPS First Class Mail) is 1-3 business days from date shipped but may take longer.<br><br>

		<strong>International Shipping</strong><br>
		We offer shipping to most countries via USPS First Class Mail. Delivery may take up to 3 weeks. The customs office of the destination country may impose taxes, customs fees, import duties, and other charges to your international order where applicable. These additional charges required for customs clearance are the responsibility of the recipient.<br><br>

		<strong>Returns/Exchanges</strong><br>
		You may return or exchange any item within 10 days from which shipment is received. Item must be in its original packaging in as-new condition. Please e-mail us at info@mujonyc.com to initiate a return/exchange.<br><br>

		<strong>Warranty</strong><br>
		We offer a lifetime warranty on every product. Please e-mail us at info@mujonyc.com to initiate a warranty claim. 
	</div>
</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '766408273502804');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=766408273502804&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->