<div class="terms_page_wrap">
	<%= link_to contact_index_path do %>
		<span class="back_to_contact black_a">BACK</span>
	<% end %>

	<div class="terms">
		<strong>SHIPPING & RETURNS</strong><br><br>

		<strong>Domestic Shipping</strong><br>
		Most orders are shipped within 1-2 business days of the order. Delivery time is based on the shipping method. Standard delivery time (USPS First Class Mail) is 1-3 business days from date shipped but may take longer.<br><br>

		<strong>International Shipping</strong><br>
		Unfortunately, we do not offer international shipping at this time.<br><br>

		<strong>Returns/Exchanges</strong><br>
		You may return or exchange any item within 10 days from which shipment is received. Item must be in its original packaging in as-new condition. Please e-mail us at info@mujonyc.com to initiate a return/exchange. 
	</div>
</div>